<div id="loader-wrapper">
    <div id="loader"></div>
    <div class="loader-section section-left"></div>
    <div class="loader-section section-right"></div>
</div>
<!-- <div *ngIf='homepage; else ortherRouter'>
  <p>homepage</p>
</div>
<ng-template #ortherRouter>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis ratione iste ab nemo maxime adipisci nam vel voluptatem, fugiat perferendis totam, molestiae ipsam suscipit, optio consequatur molestias similique explicabo deserunt!</p>
</ng-template> -->
<div [ngClass]="{'darkTheme': darkingTheme}">
    <md-sidenav-container>
      <!-- NOTE: Menu Sidenav  -->
      <md-sidenav #menu mode="push">
        <!-- NOTE: menu tab contact me -->
        <md-tab-group>
          <md-tab>
            <ng-template md-tab-label>
              About Me
              <md-icon class="icon">person</md-icon>
            </ng-template>
            <!-- NOTE: About Me -->
            <div class='aboutMe' fxLayout="row" fxLayoutAlign="space-around center">
              <div fxFlex="30">
                <a target="_blank" href="https://www.facebook.com/remynguyen1996">
                <img src="assets/remy.jpg" alt="Remy Nguyen">
              </a>
              </div>
              <section class="mat-typography" fxFlex="70">
                <h3>Nguyễn Tiết Ngọc Châu ✪</h3>
                <md-icon>place_on</md-icon>
                <p> Hồ Chí Minh City, Việt Nam</p>
                <md-icon>email</md-icon><a href="mailto:nguyentietngocchau@gmail.com">
                nguyentietngocchau@gmail.com
              </a>
              </section>
              <i class="material-icons"></i>
            </div>
            <!-- NOTE: Introduce Site -->
            <section class='mat-typography introduceSite'>
              <p>
                Dù đã có rất nhiều website chia sẽ về những câu chuyện trong cuộc sống nhưng tôi vẫn muốn tổng hợp lại những bài viết hữu ích nhất đễ chia sẽ với mọi người. Và tôi luôn tự nhắc nhở bản thân những gì tôi làm là vì lợi ích của cộng
                đồng, nhưng bản thân tôi chỉ là cá nhân với đầy sự ham thích, và ý kiến riêng, vì vậy sẽ không khó tránh khỏi những thiếu xót và rất khó để có thể làm hài lòng mọi người, vì vậy tôi luôn muốn nhận được những ý kiến đóng góp chân tình từ
                cộng đồng. Có như vậy tôi mới có thể làm tốt hơn công việc của mình.
              </p>
              <p>Mọi chi tiết xin liên hệ đến nguyentietngocchau@gmail.com</p>
              <p>Xin cảm ơn các bạn đã ủng hộ các bài viết trên website.</p>
            </section>
          </md-tab>

          <md-tab>
            <ng-template md-tab-label>
              Settings Theme
              <md-icon class="icon">settings</md-icon>
            </ng-template>
            <!-- NOTE: Settings Themes -->
            <div class="settingsTheme" fxLayout='column' fxLayoutWrap fxLayoutGap="15px">
              <md-slide-toggle color='accent' [checked]="darkingTheme" [(ngModel)]="darkingTheme" (click)="darkTheme()" fxFlex>Dark Theme</md-slide-toggle>
            </div>
          </md-tab>
        </md-tab-group>
      </md-sidenav>

      <!-- NOTE: logo, menu blogs, search blogs -->
      <div #menuRoot>
        <md-toolbar color="primary">
          <button md-icon-button (click)="toggleMenu(menu)">
            <md-icon>menu</md-icon>
          </button>
          <a fxLayout="row" [routerLink]="'/'">
          <img src="assets/logo.svg" alt="Logo">
          <h1>Lá Xanh</h1>
        </a>
          <!-- NOTE: Menu Tab Routing -->
          <nav>
            <a md-ripple mdRippleRadius="25" *ngFor="let router of routes" [routerLink]='router.link' routerLinkActive='active'>
              {{router.label}}
          </a>
          </nav>
          <span fxFlex></span>
          <!-- NOTE: Search Blogs -->
          <button md-icon-button (click)="searchBlogs()">
          <md-icon>search</md-icon>
        </button>
          <a [routerLink]='"/auth"'>Đăng nhập</a>
        </md-toolbar>
      </div>

      <div *ngIf="homepage; else routerOrther">
        <!-- NOTE: Background Header -->
        <header class="bgIntroduce"></header>
        <!-- NOTE: Introduce Page -->
        <section class="introducePage">
          <h2 class="mat-h2">chia sẽ những câu chuyện ý nghĩa trong cuộc sống </h2>
          <h3 class="mat-h3">Blogs Lá Xanh </h3>
          <!-- <h4 class="mat-h4">Đây là website phi lợi nhuận mà tôi làm ra nhằm phục vụ cộng đồng. Với mong muốn chia sẽ kinh nghiệm và những kiến thức, hiểu biết của mình về  những vấn đề trong cuộc sống thông qua những câu chuyện ngắn ý nghĩa nuôi dưỡng hạt giống tốt trong lòng mỗi người</h4> -->
          <!-- NOTE: Btn Contact -->
          <button type="button" (click)="contactMe()">
            Liên Hệ
          </button>
          <!-- NOTE: Arrow Down Page -->
          <div class="arrowDown" (click)="arrowDown()">
            <md-icon>expand_more</md-icon>
          </div>
        </section>
        <!-- NOTE: Content Homepage -->
        <div class="containerPage" fxLayout="row" fxLayoutWrap fxLayoutGap="15px">
          <!-- NOTE: Setup View Blogs -->
          <!-- <div fxFlex="100" class='viewBlogs'>
            <button md-icon-button (click)="viewStream()"><md-icon>view_stream</md-icon></button>
            <button md-icon-button (click)="viewModule()" class="active"><md-icon>view_module</md-icon></button>
          </div> -->
          <!-- NOTE: Card Post -->
          <md-card fxFlex class="mat-elevation-z18" *ngFor="let item of listStories; let key = index">
            <a [routerLink]="['cau-chuyen-cuoc-song',item.slug]" class='linkBlogs material-icons'>
              <img md-card-image [src]="urlService +'blogs/'+ item.images" [alt]="item.title">
            </a>
            <div fxLayout="column">
              <a class="favorites" md-fab (click)='favoriteBlogs(item._id,key)'>
                <md-icon>favorite_border</md-icon>
              </a>
              <md-card-content fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px">
                <button type="button" md-icon-button (click)="toggleMenu(menu)">
                  <img fxFlex md-card-avatar [src]="urlService +'avatars/'+ item.author.avatar" alt="products">
                </button>
                <div fxFlex="90">
                  <a [routerLink]="['cau-chuyen-cuoc-song',item.slug]">
                    <md-card-title>{{item.title}}</md-card-title>
                  </a>
                  <md-card-subtitle (click)="toggleMenu(menu)">{{item.author.name}}</md-card-subtitle>
                </div>
              </md-card-content>
              <a class="date" md-icon-button [mdTooltip]="'Đăng ngày:'+ transformDate(item.createdAt)">
                <md-icon>bookmark</md-icon>
              </a>
            </div>
          </md-card>

        </div>
      </div>
      <router-outlet></router-outlet>
    <!-- NOTE: Footer Page -->
    <!-- <footer fxLayout="column" fxLayoutWrap fxLayoutAlign='space-around'>
      <div>© 2017 blogs lá xanh, được thực hiện bởi Nguyễn Tiết Ngọc Châu</div>
    </footer> -->
    </md-sidenav-container>
  <!-- <ng-template #routerOrther>
    <router-outlet></router-outlet>
  </ng-template> -->
</div>
